body {
  color: red;
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid{
    width: 460px;
}

.btn{
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    line-height: 150px;
    margin: 5px 5px 0 0;
    width: 150px;
}

.btn:nth-child(3n){
    margin: 5px 0 0;
}
.btn:hover{
    background-color: ##f18616;
}
.btn:focus{
    background-color: #f18616;
}

.btn--highlight{
    background-color: #00b300;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .grid{
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }
    .btn{
        box-sizing: border-box;
        width: calc(50% - 5px);
    }
    .btn:nth-child(3n){
        margin: 5px 5px 0 0;
    }
    .btn:nth-child(2n){
        margin: 5px 0 0;
    }
}
@media only screen and (max-width: 767px){
    .grid{
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }
    .btn{
        width: 100%;
        margin: 5px 0 0;
    }
    .btn:nth-child(3n){
        margin: 5px 0 0;
    }
    .btn:nth-child(2n){
        margin: 5px 0 0;
    }
}
